.background {
    -fx-background-image: url('/Images/backgroundImage.jpg');
    -fx-background-size: 100% 100%; /* Ensures the background image covers the full size of the AnchorPane */
    -fx-background-position: center center; /* Keeps the image centered */
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
}

.background2 {
    -fx-background-image: url('/Images/backgroundImage2.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.background3 {
    -fx-background-image: url('/Images/backgroundImage3.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}


/* Style for the buttons */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #388E3C;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #388E3C;
}



.grid-pane {
    -fx-background-color: #8b5a2b; /* Brown background to resemble soil */
    -fx-padding: 10px;
    -fx-hgap: 10px; /* Gap between columns */
    -fx-vgap: 10px; /* Gap between rows */
    -fx-background-radius: 5px; /* Rounded corners for the grid */
}


/* FarmGame.css */
.coin-label, .harvest-label {
    -fx-alignment: center-left;
    -fx-spacing: 5;  /* spacing between the icon and the text */
    -fx-background-color: #555555;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-border-radius: 20;
}

.coin-label .label-text {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.harvest-label .label-text {
    -fx-font-size: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.top-left-labels {
    -fx-alignment: top-left;
}